.nniSlider {
  position: relative;
  margin: 10px auto;
  border-radius: 4px;
}
.nniSlider .frame{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.nniSlider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nniSlider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;

/*    the slider dimension    */
    width: 720px;
    height: 480px;
}

.nniSlider ul li.active {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nni_prev,
.nni_next {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: block;
    width: auto;
    height: 50px;
    background: #2a2a2a;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    border: 0;
    width: 50px;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nni_prev {border-radius: 0 2px 2px 0;}
.nni_next {right: 0;border-radius: 2px 0 0 2px;}

.multiItems ul li{
    width: 550px;
    height: 425px;
}
.multiItems ul li .item{
    width: 550px;
    height: 141px;
    background: #e1e1e1;
    margin-bottom: 1px;
    display: table;
    position: relative;
}
.multiItems ul li .item .speakerAvatar{
    overflow: hidden;
    width: 150px;
    height: 141px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}
.multiItems ul li .item .speakerAvatar:after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background: #e1e1e1;
    -webkit-transform: skew(23deg);
    -moz-transform: skew(23deg);
    -ms-transform: skew(23deg);
    transform: skew(23deg);
    transform-origin: bottom;
}
.multiItems ul li .item p{
    font-family: Verdana;
    font-size: 18px;
    color: #282828;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 0 100px 0 150px;
}

.pages .nni_prev,
.pages .nni_next {
    background: transparent;
}

.pages .nni_prev {left: -130px;}
.pages .nni_next {right: -130px;}

.promotion div.image{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.pager ul.promoCore>li{
    height: 440px;
}
.pager ul.promoCore>li .dense{
    border: 0 none;
    z-index: 0;
}
.pager ul.promoCore>li .dense.d150-140{
    height: 140px;
    border: 0 none;
    z-index: 0;
}
.pager ul.promoCore>li .dense.d150-140 li{
    width: 48px;
}
.pager ul.promoCore>li .dense.d150-140 li .toltip {
    display: none !important;
}
.pager ul.promoCore>li .dense.d150-140 a{
    font-size: 12px;
}
.pager ul.promoCore>li .dense li{
    float: left;
    height: 70px;
    width: 82px;
}
.pager ul.promoCore>li .dense li a{
    width: 74px;
}
.promotion ul li .core{
    background: #e1e1e1;
    height: 360px;
    position: relative;
}
.promotion ul li .core a{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    width: 170px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.promotion ul li .core a.canceller{
    right: 160px;
    color: #959191;
    font-size: 12px;
    display: none;
}
.dark .promotion ul li .core a{
    color: #222222;
    display: block;
}
.promotion ul li h3{
    font-size: 24px;
    font-weight: 400;
}
.promotion div.image:after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background: #e1e1e1;
    -webkit-transform: skew(23deg);
    -moz-transform: skew(23deg);
    -ms-transform: skew(23deg);
    transform: skew(23deg);
    transform-origin: bottom;
}
.alertMessage{
    color: #ED6565;
    font-size: 13px;
}
.text-right{
    width: 290px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 25px;
    max-height: 250px;
    overflow: hidden;
    height: 250px;
}
.text-right h4{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
}

.text-right p{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}
.text-right .textToBeMoved{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
}
.text-right .formToBeMoved,
.messageToBeMoved{
    position: absolute;
    width: 280px;
}
.text-right .formToBeMoved input{
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #727272;
    box-sizing: border-box;
    padding: 0 10px;
    border: 0 none;
    border-radius: 4px;
    margin: 5px 0;
}
.text-right .formToBeMoved input.halfInp{
    width: 135px;
    float: left;
    margin-bottom: 15px;
}
.text-right .formToBeMoved input.halfInp.right{
    float: right;
}

.nnislider:after{
    content: '';
    position: absolute;
    display: block;
    -webkit-box-shadow: 0px 20px 23px 1px rgba(47, 50, 50, 0.47);
    -moz-box-shadow: 0px 20px 23px 1px rgba(47, 50, 50, 0.47);
    box-shadow: 0px 20px 23px 1px rgba(47, 50, 50, 0.47);
    width: 100%;
    height: 100px;
}

.programation .dating{
    height: 140px;
    width: 175px;
    position: absolute;
    left: 150px;
    top: 0;
}
.programation .dating .effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(23deg);
    -moz-transform: skew(23deg);
    -ms-transform: skew(23deg);
    transform: skew(23deg);
    transform-origin: bottom;
    z-index: 0;
}
.programation .dating .texture{
    position: absolute;
    top: 0;
    left: -29px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/iconTexture.png);
}
.programation .dating .dateHolder{
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 26px;
    left: 26px;
    width: 73px;
    top: 53px;
}
.programation .dating .dateHolder .dayHolder{
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
}
.programation .dating .dateHolder .monthHolder{
    font-size: 14px;
    font-weight: 400;
}
.programation ul li .dating p{
    font-family: "Open Sans";
    font-size: 30px;
    color: #FFF;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 62px 0 0 45px;
    position: relative;
    z-index: 1;
    font-weight: 800;
    text-align: center;
    line-height: 18px;
}
.programation ul li .dating span{
    font-size: 14px;
    font-weight: 400;
}
.programation ul li .info{
    position: absolute;
    top: 0;
    right: 10px;
    height: 140px;
    width: 215px;
    display: table;
    text-align: left;
}
.programation ul li .info>div{
    display: table-cell;
    vertical-align: middle;
}
.programation ul li .info>div .nome{
    font-size: 20px;
}
.programation ul li .info>div .local{
    font-size: 16px;
}
.programation ul li .info>div .local>div{
    float: left;
}
.programation ul li .info>div .hora{
    font-size: 16px;
}
.programation ul li .info>div .hora>div{
    float: left;
}

#novidadePage .item{
    cursor: pointer;
}



.progBox{
    width: 550px;
    height: 360px;
    margin: 0 auto;
}
.progBox .dateBox{
    height: 100%;
    width: 200px;
    background-image: url('../img/dateBox.png');
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}



.pageCore .text {
    height: 40px;
    color: #fff;
    position: absolute;
    top: 170px;
    left: 45px;
}
.text p{
    margin: 0;
}
.word {
    position: absolute;
    width: 102px;
    opacity: 0;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.behind {
  transform: rotateX(-90deg);
}
.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.prog{
    width: 100%;
    text-align: center;
    padding: 25px 0;
}
.prog li{
    cursor: pointer;
    -webkit-filter: blur(1.8px);
    -moz-filter: blur(1.8px);
    filter: blur(1.8px);
    transition: all 0.1s linear;

    font-size: 25px;
    display: inline-block;
    padding: 0 5px
}
.prog li:hover,
.prog li.current{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
}

.nniPlacar{
    width: 350px;
    height: 360px;
    position: relative;
    float: right;
    overflow: hidden;
}
.nniPlacar>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
}
.nniPlacar>div.choosen{
    z-index: 2;
}
.nope{
    padding: 0 10px;
    box-sizing: border-box;
    color: #282828;
}
.nope.onAir{
    background-image: url(../img/onAir.png);
    background-position: 275px center;
    background-repeat: no-repeat;
}
.nope p{
    display: inline-block;
    margin: 0;
    font-size: 15px;
}
.nope p.bolder{
    font-weight: 700;
}
.nope i{
   -webkit-transform: translateY(6px);
   -moz-transform: translateY(6px);
   -ms-transform: translateY(6px);
   -o-transform: translateY(6px);
   transform: translateY(6px);

    margin-right: 5px;
}
.nniPlacar>div>div.nope{
    opacity: 0;
    height: 52px;
    line-height: 50px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.nniPlacar>div>div.ps-scrollbar-y-rail.nope{
    background: transparent!important;
    width: 1px;
    padding: 3px;
}
.nniPlacar>div>div.ps-scrollbar-x-rail.nope{display: none;}
.nniPlacar>div>div.nope:nth-child(even){
    background-color: rgba(255,255,255,0.8);
}
.nniPlacar>div>div.nope:nth-child(odd){
    background-color: rgba(255,255,255,0.9);
}
.nniPlacar>div>div.current{
    opacity: 1;
}

.checksquare {
    width: 20px;
    position: relative;
    margin: 0 15px 0 5px;
    float: left;
}
.checksquare label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.deslizer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 112px;
}
.deslizer button{
    border: 0 none;
    background: transparent;
    position: absolute;
    z-index: 2;
    height: 100%;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.deslizer button.right{
    right: 0;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(14%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.45) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.45) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}
.checksquare label:after {
    content: '';
    width: 10px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s;
}
.checksquare label:hover::after {
    opacity: 0.5;
}
.checksquare input[type=checkbox] {
    visibility: hidden;
}
.checksquare input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.fakelabel{
    float: left;
    font-size: 14px;
    color: #727272;
}

.gallery h2{
    color: #282828;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    line-height: 52px;
}